html{
  overflow-x: hidden;
}
body{
  font-family: 'HK Grotesk', sans-serif !important;
  background-color:  #19161B;
  overflow-x: hidden;
}

.fonts{
  font-family: 'Playfair Display', serif;
}
.borderend{
  border-inline-end-color:  #FFFFFF;
}
